body {
 	background-color: #b3e3f6;
}
header.fixed {
  position: fixed;
  top: 0;
  z-index: 75;
  width: 100%;
  height: 355px;
  background: url('../img/header2.png') center 0 no-repeat;
 }
.menu {
  padding: 10px 0 0 0px;
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.menu li {
  display: inline;
  margin: 0 10px 0 0;
  padding: 0;
  font-family: 'Clicker Script', cursive;
  font-size: 25px;
}
.social {
  padding-top: 10px;
}
.social a {
  margin-right: 5px;
}
section {
  position:relative;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 100px;
}
section .title {
  position: relative;
  top: 0;
  height: 90px;
  width: 100%;
}
section .title h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 70px;
  font-weight: 500;
  color: #848484;
  padding: 10px 0 0 0;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
}
section#init {
  background-image: url('../img/logotipo.svg'), url('../img/fondo.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 355px;
}
section#init span {
  position:absolute;
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
  color: #666;
  text-shadow: 4px 4px 4px #aaa;
  bottom: 0px;
}
.hero-unit h1 {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
  color: #000;
  text-shadow: 4px 4px 4px #aaa;
}

.hero-unit p {
  font-family: 'Averia Libre', cursive;
  font-size: 15px;  
  color: #666;
}

div#botiquines {
  position:relative;
  background: url('../img/botiquines.png') left 0 no-repeat;
  width: 100%;
  height: 125px;
}
div#kits {
  top: -10;
  position:relative;
  background: url('../img/kits.png') center 0 no-repeat;
  width: 100%;
  height: 136px;
}
div#eraseunavez {
  position:relative;
  background: url('../img/eraseunavez.png') left 0 no-repeat;
  width: 100%;
  height: 125px;
}
div#pormiprimero {
  top: -10;
  position:relative;
  background: url('../img/pormiprimero.png') center 0 no-repeat;
  width: 100%;
  height: 136px;
}
div#botiquines-info {
  display: none;
}
div#kits-info {
  display: none;
}
div#pormiprimero-info {
  display: none;
}
div#eraseunavez-info {
  display: none;
}

.uri {
  background: url('../img/uri.png') center 0 no-repeat;
  width: 100%;
  height: 274px;
}

.mail {
  background: url('../img/mail.png') center 0 no-repeat;
  width: 100%;
  height: 39px; 
}