/*
Theme Name: WP Reparando Alas Rotas
Theme URI: http://www.reparandoalasrotas.com
Description: El tema de Reparando Alas Rotas
Author: Joaquin Engelmo
Author URI: http://www.kinisoftware.com
Version: 1.2
Tags: responsive, white, bootstrap

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/
*/
@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css'); 
@import url('css/common.css');
@import url('css/style7.css');
body { 
  padding-top: 60px; 
  padding-bottom: 40px; 
  background-color: #b3e3f6;
  font-family: 'Kite One', cursive;
}

body h1 {
	font-family: 'Clicker Script', cursive;
}

h2 {
 font-family: 'Clicker Script', cursive;
}

h3 {
 font-family: 'Clicker Script', cursive;
}

.navbar {
	font-family: 'Clicker Script', cursive;
  font-size: 25px;
}
.navbar-inverse .navbar-inner {
  background-image: -moz-linear-gradient(top, #b3e3f6, #b3e3f6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3e3f6), to(#b3e3f6));
  background-image: -webkit-linear-gradient(top, #b3e3f6, #b3e3f6);
  background-image: -o-linear-gradient(top, #b3e3f6, #b3e3f6);
  background-image: linear-gradient(to bottom, #b3e3f6, #b3e3f6);
  background-repeat: repeat-x;
  border-color: #fff;
}

.navbar .brand {
  padding: 5px 0px 0px;
}

.navbar-inverse .nav > li > a {
	color: #333333;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus, .navbar-inverse .nav .current_page_item a, .navbar-inverse .nav .current_page_item a:hover, .navbar-inverse .nav .current_page_item a:focus, .navbar-inverse .nav .current_page_parent a, .navbar-inverse .nav .current_page_parent a:hover, .navbar-inverse .nav .current_page_parent a:focus {
  background-color: transparent;
}

.social li {
	display: inline;
  margin-right: 2px;
  margin-left: 2px;
}

div#init span {
  position: absolute;
  font-family: 'Clicker Script', cursive;
  font-size: 36px;
  color: #666;
  text-shadow: 4px 4px 4px #aaa;
}
.hero-unit h1 {
  font-family: 'Clicker Script', cursive;
  font-size: 35px;
  color: #000;
  text-shadow: 4px 4px 4px #aaa;
}

.hero-unit p {
  font-family: 'Kite One', sans-serif;
  font-size: 16px;  
  color: #666;
  margin-top: 15px;
  text-align: justify;
}

.ch-info p {
	color: #000;
	font-style: italic;
	font-family: 'Montez', cursive;
	margin: 0 10px;
	font-size: 20px;
}

.product-info {
  font-family: 'Kite One', sans-serif;
  font-size: 16px;  
  color: #666;
  text-align: justify;
}

.product-separator {
	background-color: #b3e3f6;
	border: 1px solid #b3e3f6;
}

.post {
  font-family: 'Kite One', sans-serif;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  border: 1px;
  border-color: #666;
  border-style: dashed;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.post p {
  margin: 20px 15px 20px 25px;
}

.carousel-inner p {
  color: #fff;
}

.carousel-caption p {
  font-size: 14px;
}

div#botiquines {
  background: url('img/botiquines.png') left 0 no-repeat;
  height: 125px;
}
div#kits {
  background: url('img/kits.png') center 0 no-repeat;
  height: 136px;
}
div#eraseunavez {
  background: url('img/eraseunavez.png') left 0 no-repeat;
  height: 125px;
}
div#pormiprimero {  
  background: url('img/pormiprimero.png') center 0 no-repeat;
  height: 136px;
}

div#uri {
  background: url('img/uri.png') left 0 no-repeat;
  height: 190px;
}

.mail {
  background: url('img/mail.png') center 0 no-repeat;
  height: 39px; 
}

footer p {  
  font-family: 'Clicker Script', cursive;
  font-size: 22px;
}